.searchNameContainer {
    display: flex;
    flex-direction: column;
  
    .searchNameTitle {
      font-size: 14px;
      color: var(--green-color);
      margin-bottom: 8px;
    }
  
    .searchNameInput {
      font-size: 12px;
      padding: 8px;
      width: 200px;
      border-radius: 6px;
      border: 1px solid lightgray;
  
      &:focus {
        outline: none;
        border-color: var(--green-color);
        border-width: 1.5px;
      }
    }
  }
  